version: '3.7'

services:
  dv-commandline-utils:
    # Mount host repo to aid development
    volumes:
      - type: bind
        source: .
        target: /code/src
    # Mount a directory to access data
    volumes:
      - type: bind
        source: ${HOME}/Dropbox/datasets/
        target: /data
